.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group > label {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
}

.input-wrapper {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
}

.input-wrapper.error {
    border-color: #EF4444;
}

.input-wrapper > input {
    border: none;
    outline: none;
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    background: #FFFFFF;
    color: #111827;   
}

.input-wrapper > input::placeholder {
    color: #9CA3AF;
}

.icon-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-span > :first-child {
    width: 18px;
    height: 18px;
    color: #9CA3AF;
}

.input-wrapper:has(input:not(:placeholder-shown)) .icon-span > :first-child {
  color: #111827; 
}

.span-message {
    font-size: 12px;
    color: #EF4444;
}

