.card-form {
    width: 448px;
    padding: 32px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.card-form-header > h2 {
    font-size: 20px;
    font-weight: bold;
    color: #111827;
}

.card-form-header > p {
    font-size: 16px;
    color: #4B5563;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.div-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.div-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.div-divider div {
    border: 1px solid #D1D5DB;
    display: flex;
    flex: 1;
}

.div-divider > p {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}

.div-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.div-register > p {
    font-size: 14px;
    color: #4B5563;
}