.div-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-actions > a {
    font-size: 14px;
    font-weight: 600;
    color: #1F6F43;
}

.check-container {
    display: flex;
    cursor: pointer;
    gap: 8px;
    font-size: 14px;
    color: #374151;
}

/* Esconde o checkbox original */
.check-container input {
    display: none;
}

/* Quadrado customizado */
.checkmark {
    width: 16px;
    height: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

/* Quando estiver marcado */
.check-container input:checked + .checkmark {
    background-color: #1D4ED8;
    border-color: #1D4ED8;
}

/* Desenho do "check" */
.check-container input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 3.5px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.div-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.div-register > p {
    font-size: 14px;
    color: #4B5563;
}