.container-layout-login-register {
    background: #FAF8F8;
    min-height: 100dvh;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card-form-layout-login-register {
    width: 100%;
    max-width: 448px;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media (min-width: 640px) {
    .container-layout-login-register {
        padding: 32px;
    }

    .card-form-layout-login-register {
        padding: 32px;
        gap: 32px;
    }
}

.card-form-layout-login-register-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.card-form-layout-login-register-header > h2 {
    font-size: clamp(18px, 2.5vw, 20px);
    font-weight: bold;
    color: #111827;
}

.card-form-layout-login-register-header > p {
    font-size: clamp(14px, 2.5vw, 16px);
    text-align: center;
    color: #4B5563;
}

.card-form-layout-login-register > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-form-layout-login-register > form .div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


